<!DOCTYPE html>

<head>
    {% load static %}
    <script src="{% static 'js/dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="static/images/NavbarLogo.png" width="200" height="100">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-three-fifths is-centered has-vertically-aligned-content">
                    <div class="content has-text-left">
                        <h1>The truth you deserve.</h1>
                        <p>Everyday trolls post fake Tweets to spread rumors and misinformation.
                            The internet is slowly being filled with lies, and we are here to combat these
                            deceptions.</p>
                    </div>
                </div>
                <div class="column is-centered has-vertically-aligned-content">
                    <div class="content">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="file">
                                <label class="file-label">
                                    {{ form.as_p }}
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <button type="submit">Upload</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
