.column.has-vertically-aligned-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button:active, .button:focus {
    color: white;
}

.button {
    background: linear-gradient(213.37deg, #B066FE -8.36%, #63E2FF 137.22%);
    border: 0;
    color: white;
}

.button:hover {
    background: linear-gradient(213.37deg, rgb(155, 90, 224) -8.36%, rgb(86, 199, 224) 137.22%);
    color: white;
}

.navbar-item img {
    margin: 15px 35px;
}

#upload_content {
    margin: 100px;
}

.level-item img {
    margin: 10px 7px;
}

#tweet {
    margin: 50px 0;
}

.content h1 {
    font-weight: 700;
    color: black;
}

#main_page {
    padding: 50px 60px;
}

#main_page img {
    margin: 30px 20px;
}