.column.has-vertically-aligned-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button:active, .button:focus {
    color: white;
}

.button {
    background: linear-gradient(213.37deg, #B066FE -8.36%, #63E2FF 137.22%);
    border: 0;
    color: white;
}

.button:hover {
    background: linear-gradient(213.37deg, rgb(155, 90, 224) -8.36%, rgb(86, 199, 224) 137.22%);
    color: white;
}

.navbar-item img {
    width: 100;
    margin: 7%;
    margin-left: 15%;
}

#right_panel {
    padding-top: 20%;
}

.icons img {
    margin-right: 2%;
    width: 5%;
}

.icons a {
    margin-left: 3%;
}

#tweet {
    /* margin-top: 3%; */
    margin-left: 5%;
}

.content h1 {
    font-weight: 700;
    color: black;
}

#main_page {
    padding: 15% 10%;
    padding-bottom: 0;
}

#main_page img {
    margin: 10% 5%;
    margin-bottom: 0;
}

#result {
    margin: 25% 10%;
    /* padding-bottom: 0; */
}